@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{ 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #d1d0cf;
    background: #141414;
}
.container-fluid{
    padding: 0 100px;
}
header#main-header{
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(10px);
}
header .navbar-light .navbar-brand img.logo{
    width: 160px;
}
header .navbar .menu-header-menu-container, header .navbar .menu-main-menu-container{
    display: inline-block;
    width: 100%;
}
a{
    color: #d1d0cf;
    text-decoration: none;
    outline: medium none;
    transition: all 0.5s ease-out 0s;
}
header .navbar ul.navbar-nav{
    display: block;
    text-align: center;
}
header .navbar ul li{
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
header .navbar ul li.menu-item a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    line-height: 70px;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
header .navbar ul li.menu-item a:hover{
    color: #e50914 !important;
}
.navbar ul li:hover > .sub-menu{
    display: block !important;
    animation: fade-in 0.5s cubic-bezier(0.39,0.575,0.565,1) both;
}
.navbar ul li:hover .sub-menu{
    display: block;
    padding: 15px 0;
    background: #141414;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    display: inline-block;
    min-width: 256px;
    box-shadow: 0 1px 30px 0 rgb(36 38 43 / 10%);
}
.navbar ul li .sub-menu li>.sub-menu{
    display: none;
}
.navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu, .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover > .sub-menu{
    left: auto;
    right: 100%;
    top: -15px;
}
.navbar ul li:last-child{
    margin-right: 0;
}
.navbar ul.navbar-nav>li.menu-item:hover > a, .navbar ul.navbar-nav > li.menu-item:hover>i{
    color: #e50914;
}

.navbar ul.navbar-nav>li.menu-item>a{
    text-transform: uppercase;
}
.navbar ul.navbar-nav>li:hover > a{
    font-weight: 600;
}

.navbar ul li.menu-item a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    line-height: 70px;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}
.navbar ul li .sub-menu{
    display: none;
}
.navbar ul li .sub-menu li{
    margin-right: 0;
    padding: 0 15px;
}
.navbar ul.sub-menu li{
    display: block;
    text-align: left;
}
.navbar ul li{
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.menu-sticky .navbar ul li .sub-menu > li a{
    line-height: 1em;
}

.navbar ul li .sub-menu li > a{
    font-size: 14px;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    line-height: 1em;
    padding: 15px;
    color: #d1d0cf;
    position: relative;
    overflow: hidden;
}

.navbar ul li.menu-item a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    line-height: 70px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}
.navbar ul li .sub-menu li>a::before{
    position: absolute;
    content: "";
    background: #e50914;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4px;
    opacity: 0;
    transform: translate3d(-100%,0,0);
    transition: all 0.5s ease-in-out;
}

header .navbar ul li .sub-menu li.current-menu-parent>a::after, 
header .navbar ul li .sub-menu li .sub-menu li.menu-item.current-menu-item>a::after,
header .navbar ul li .sub-menu li .sub-menu li.menu-item:hover>a::after{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.5s ease-in-out;
}

header .navbar ul li .sub-menu li:hover>a::after{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.5s ease-in-out;
}
.navbar ul li .sub-menu li >a::after{
    position: absolute;
    content: "";
    background: linear-gradient(270deg, rgba(11,1,2,0) 0% , rgba(255,55,65,0.3) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(-100%,0,0);
    transition: all 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
}

header .navbar ul li .sub-menu li:hover>a::before{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all .5s ease-in-out;
}
.nav-open .nav-overlay{
    visibility: visible;
    transition: 0.3s;
}

.nav-overlay{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 900;
    display: block;
    width: 100%;
    position: fixed;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
.more-toggle{
    color: #fff !important;
    font-size: 22px;
}

.dropdown-toggle.more-toggle::after{
    content: none;
}
.mobile-more-menu{
    display: none;
}
.more-menu{
    position: absolute;
    top: 50px;
    left: auto;
    right: 0;
    min-width: 18rem;
    padding: 0.35rem 0.5rem;
    margin: 0;
    opacity: 0;
    transform: translate(0,70px);
    transition: all 0.3s ease-out 0s;
    background: #191919;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    z-index: 999;
}
.more-menu.show{
    opacity: 1;
    transform: translate(0,0);
    visibility: visible;
}

header .navbar ul li:last-child{
    margin-right: 0;
}

.nav-item span.dots{
    height: 10px;
    width: 10px;
    font-size: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 3px;
    right: 12px;
    border-radius: 50%;
}
.menu-right .nav-items span.dots{
    right: 0;
}

.navbar-right li .iq-sub-dropdown .iq-sub-card{
    position: relative;
    font-size: inherit;
    padding: 15px 15px;
    line-height: normal;
    color: inherit;
    text-align: left;
    display: inline-block;
    width: 100%;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 0 0 1px 0;
    border-image-source: linear-gradient(to right, rgba(209,208,207,0.6), rgba(209,208,207,0.3), rgba(209,208,207,0));
}
.iq-sub-card.setting-dropdown{
    padding: 15px 15px 15px 0 !important;

}

.navbar-right li .iq-sub-dropdown a.iq-sub-card:last-child{
    border-bottom: 0;
}
.notify-bg{
    overflow: hidden;
    z-index: 99;
}
i.slide-item .block-description .parallax-ratting span{
    font-size: 14px;
}
.parallax-img img{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}
.parallax-window{
    height: 100%;
    padding: 100px 0;
    position: relative;
    background: url(/img/parallax/arrow.jpg) center center;
    background-size: cover;
    background-attachment: fixed ;
}
.parallax-window::after{
position: absolute;
content: "";
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.8);
}
.parallaxt-details{
    z-index: 9;
    position: relative;
}
.parallax-heading{
    font-size: 52px;
}

.notify-bg::before{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 70px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-30deg);
    animation: noti-before-animation 2s infinite 2s;
}

.notify-bg::after{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-30deg);
    animation: noti-after-animation 2s infinite 2s;
}

.navbar-right .iq-sub-dropdown .iq-card-body div{
    border-radius: 0;
}

.navbar-right .iq-show .iq-sub-dropdown,  .iq-show .search-box{
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}

.navbar-right .iq-sub-dropdown{
    width: 300px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 15px;
    background: #191919;
    transform: translate(0,70px);
    transition: all 0.3s;
    padding: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out 0s;
    z-index: 1;
}
.navbar-light .navbar-toggler-icon{
    background: url(images/menu.png) no-repeat scroll center center;
}
.search-toggle:hover, header .navbar ul li.menu-item a:hover{
    color: #e50914 !important;
}

.search-wrapper{
    position: relative;
    display: inline-block;
    height: 36px;
    vertical-align: bottom;
}
.searchbutton{
    position: absolute;
    font-size: 22px ;
    width: 100%;
    margin: 0;
    padding: 0;
    right: 16px;
    color: #d1d0cf;
}

.search:focus+.searchbutton{
    transition-duration: 0.4s;
    color: #e50914;
}
.search:hover+.searchbutton{
    color: #fff;
}

.search{
    position: absolute;
    left: 49px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 0 0 0 16px;
    width: 0;
    height: 100%;
    z-index: 10;
    color: #fff;
    transition-duration: 0.4s;
}

.search:focus, .search:hover{
    width: 350px;
    padding: 0;
    border-color: #d1d0cf;
}
.expandright{
    left: auto;
    right: -6px;
    bottom: -2px;
}
.search::placeholder{
    color: #fff !important;
}

.noti-svg{
    animation: notify 1.5s ease infinite;
    fill: #d1d0cf;
}

.noti-svg:hover{
    fill: #e50914;
}

.search-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
    min-width: 25rem;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transform: translate(0,70px);
    transition: all 0.3s ease-out 0s;
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.search-toggle{
    padding: 0 !important;
}

.iq-search-bar .search-input{
    width: 100%;
    height: 40px;
    padding: 5px 15px 5px 40px;
    border: none;
    border-radius: 0;
    color: #fff;
    background: #191919 ;
}

.iq-search-bar .searchbox .search-link{
    position: absolute;
    left: 15px;
    top: 6px;
    font-size: 16px;
}

input,input[type="search"]{
    width: 100%;
    padding: 0px 15px;
    height: 48px;
    line-height: 48px;
    background: #141414;
    border: 1px solid #404043;
    border-radius: 0;
    color: #d1d0cf;
    transition: all 0.5s ease-in-out;
}

input:focus , input[type="search"]:focus{
    border-color: #e50914;
    box-shadow: none;
    outline: none;
}

.user-m{
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 40px;
    font-size: 0.6rem;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}
h1 a, h2 a, h3 a, h4 a,h5 a,h6 a{
    color: inherit;
}

.font-size-12{
    font-size: 12px;
}
h6 .h6{
    font-size: 1.0em;
}

a.text-primary:focus, a.text-primary:hover{
    color: #e50914 !important;
}

.text-primary{
    color: #e50914 !important;
}
header#main-header.menu-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.5) !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main-content{
    padding-top: 70px;
}


@media screen and (min-width: 768px) {
    .container-fluid {
        padding: 0 50px; /* Réduire le padding pour les conteneurs fluides */
    }
    header .navbar-light .navbar-brand img.logo {
        width: 180px; /* Augmenter la taille du logo */
    }
}

/* Pour les écrans de grande taille */
@media screen and (min-width: 992px) {
    .container-fluid {
        padding: 0 70px; /* Augmenter le padding pour les conteneurs fluides */
    }
}

/* Pour les écrans extra larges */
@media screen and (min-width: 1200px) {
    .container-fluid {
        padding: 0 100px; /* Augmenter encore le padding pour les conteneurs fluides */
    }
}










/* ***************** footer **************** */
.footer-top{
    padding: 60px 0;
}

footer .footer-standard .widget ul li{
    display: inline-block;
    padding-right: 30px;
}
footer .footer-standard .widget ul>li>a{
    padding: 0;
    font-weight: 400;
}
footer .footer-standard .widget ul>li>a::before{
    display: none;
}
footer .footer-link-title{
    margin-bottom: 20px;
    margin-top: 0;
}
footer .widget{
    background: transparent;
    border: none;
    padding: 0;
}

footer .info-share li a{
    color: #6c757d;
}
footer .footer-top .info-share li{
    margin-right: 15px;
    margin-bottom: 15px;
}
footer .footer-top .info-share li:last-child{
    margin-right: 0;
}


.iq-bg-dark{
    position: relative;
}
footer .footer-top .info-share{
    padding-left: 0;
}
footer .footer-top .info-share li{
    margin-right: 12px;
    display: inline-block;
}
footer .footer-top .info-share li a{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 0;
    color: #fff;
    font-size: 17px;
    border-radius: 50%;
    background: rgba(41, 41, 41, 0.76);
    transition: all 0.4s ease 0s;
}
footer .footer-top .info-share li a:hover{
    box-shadow: 0 0 10px #bf000a;
    text-shadow: 0 0 2px #bf000a;
    color: #e50914;
    transition: all 0.4s ease 0s;
}
footer .footer-top .info-share li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    z-index: -1;
    border-radius: 50%;
    transition: all 0.4s ease 0s;
}
.textwidget .footer-link-title{
    width: 100px;
}


@media screen and (max-width: 899px) {
    body {
        margin: 0;
    }

    .container-fluid {
        padding: 0 20px;
    }

    header#main-header {
        text-align: center;
    }

    header .navbar {
        display: inline-block;
        margin-left: 120px;
    }

    header .navbar-brand {
        margin-left: -160px;
    }

}
