body{
  margin: 0px;
  background-color: rgb(31, 31, 31);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}
   .navbar {
    background: transparent;
    padding: 10px 20px;
    font-size: 24px;
    position: absolute;
    z-index: 99;

  }
  
#featuredCarousel {
  height: 100vh;
  position: relative;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  right: 10%;
  bottom: 50%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left; /* Texte aligné à gauche */
  text-shadow: 0 1px 2px rgba(0,0,0,.6); /* Amélioration de la lisibilité */
  font-size: 20px;
}

/* CSS pour la liste de films populaires */
.section .list {
  display: flex;
  overflow-x: auto; /* Activation du défilement horizontal */
  overflow: hidden;
}


h2{
  padding: 16px;
}
h5{
  font-size: 32px
}

.swiper-slide {
  border-radius: 10px;
}

.swiper-button-next, .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent pour une meilleure visibilité */
  border-radius: 50%; /* Forme circulaire */
  width: 50px;
  height: 50px;
  top: 150%;
  transform: translateY(-50%); /* Centrer verticalement les flèches */
  color: white;
}
.card-title{
  color: #d6d6d6;
}